# Poverty and inequality datasets from PIP, WID and LIS

In [1]:
import pandas as pd
from pathlib import Path
import plotly.express as px
import plotly.io as pio

In [2]:
country = "all" #ISO3 codes
year = "all" #YYYY
povline = 7.23 #Number, dollars
formatfile = "csv" #json, csv, rds
fill_gaps = "true" #Interpolate/extrapolate, boolean
welfare_type = "all" #Welfare measure: all, consumption, income
reporting_level = "all" #Reporting coverage: all, national, rural, urban
#popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

#version #pip/v1/versions defaults to most recent version

pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
#pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

pip = pd.read_csv(pip_path)

In [3]:
country = "all" #ISO3 codes
year = "all" #YYYY
povline = 7.23 #Number, dollars
formatfile = "csv" #json, csv, rds
fill_gaps = "true" #Interpolate/extrapolate, boolean
welfare_type = "all" #Welfare measure: all, consumption, income
reporting_level = "all" #Reporting coverage: all, national, rural, urban
#popshare = 0.1 #Proportion of the population living below the poverty line. Will be ignored if povline is specified

#version #pip/v1/versions defaults to most recent version

pip_path = "https://api.worldbank.org/pip/v1/pip?" + "country=" + country + "&year=" + year + "&povline=" + str(povline) + "&format=" + formatfile + "&fill_gaps=" + fill_gaps + "&welfare_type=" + welfare_type + "&reporting_level=" + reporting_level #+ "&popshare=" + str(popshare)
#pip_path = "https://api.worldbank.org/pip/v1/pip?country=all&year=all&povline=1.9&format=csv&fill_gaps=true" #orignal version

pip2 = pd.read_csv(pip_path)

In [4]:
pip.compare(pip2)

Empty DataFrame
Columns: []
Index: []

In [5]:
pip

,region_name,region_code,country_name,country_code,reporting_year,reporting_level,survey_acronym,survey_coverage,survey_year,welfare_type,...,decile9,decile10,cpi,ppp,reporting_pop,reporting_gdp,reporting_pce,is_interpolated,distribution_type,estimation_type
0,East Asia and Pacific,EAP,China,CHN,1981,rural,NaN,NaN,NaN,income,...,0.141663,0.205191,NaN,3.039222,7.939352e+08,447.118997,NaN,False,aggregate,survey
1,East Asia and Pacific,EAP,China,CHN,1982,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,7.978062e+08,480.310474,NaN,True,aggregate,interpolation
2,East Asia and Pacific,EAP,China,CHN,1983,rural,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.039222,8.028379e+08,524.408437,NaN,True,aggregate,interpolation
3,East Asia and Pacific,EAP,China,CHN,1981,urban,NaN,NaN,NaN,income,...,0.131814,0.171814,NaN,3.905400,1.999498e+08,447.118997,NaN,False,aggregate,survey
4,East Asia and Pacific,EAP,China,CHN,1982,urban,NaN,NaN,NaN,income,...,NaN,NaN,NaN,3.905400,2.108238e+08,480.310474,NaN,True,aggregate,interpolation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6679,East Asia and Pacific,EAP,Indonesia,IDN,2018,national,NaN,NaN,NaN,consumption,...,0.156042,0.293438,NaN,NaN,2.676705e+08,3732.867111,2142.205498,False,micro,survey
6680,South Asia,SAS,India,IND,2018,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.352642e+09,1890.759172,1040.229347,True,micro,extrapolation
6681,East Asia and Pacific,EAP,China,CHN,2019,national,NaN,NaN,NaN,consumption,...,0.158389,0.294964,NaN,NaN,1.407745e+09,10155.417556,4112.405794,False,aggregate,survey
6682,East Asia and Pacific,EAP,Indonesia,IDN,2019,national,NaN,NaN,NaN,consumption,...,0.154198,0.289178,NaN,NaN,2.706256e+08,3877.382977,2228.159630,False,micro,survey
6683,South Asia,SAS,India,IND,2019,national,NaN,NaN,NaN,consumption,...,0.142784,0.301427,NaN,NaN,1.366418e+09,1958.427183,1069.644299,True,micro,extrapolation

In [ ]:
pip.columns

https://worldbank.github.io/PIP-Methodology/

https://wid.world/gpinter/